[*.{kt,kts}]
charset = utf-8
continuation_indent_size = 4
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 125
trim_trailing_whitespace = true

ktlint_standard_import-ordering = disabled
ktlint_standard_indent = disabled
ktlint_standard_wrapping = disabled
