.DS_Store

.project
.idea
.fleet
.vscode
build
.gradle
.kotlin
*.iml
local.properties
.externalNativeBuild

**/generated
!SQLite3/sqlite3/generated/
!SQLite3/sqlite3/generated/**
**/.cxx
**/.cxx-host

**/CMakeCache.txt
**/*.cmake
**/CMakeFiles
**/MakeFile
