name: "Validate Gradle Wrapper"

on: [push, pull_request]

permissions: read-all

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/wrapper-validation-action@v3
